{% extends 'base.html' %}
{% load static %}
{% block brand_by_s %}

{% regroup brands|dictsort:"brand" by brand.0 as brand_list %}
{% for brand in brand_list %}
<div class="row">
    <div class="container">
        
        <ul>
            <li>
                <div class="col-3">
                    <b>{{brand.grouper.0}}</b>
                </div><br>
                <div class="col-9">
                    {% for brand in brand.list %}
                    <div class="col-9">
                        <a href="{% url 'skincare-by-brand' brand.slug %}">{{brand}}</a>
                    </div>
                    {% endfor %}
                </div>
            </li><hr>
        </ul> 
    </div>
</div>
{% endfor %}
{% endblock %}
