{% extends 'base.html' %}
{% load static %}
<!-- Main Menu Section -->
{% block index %}
{% load display_image %}
{% carousel as carousel %}

<div class="hero-slider">
{% for item in carousel %}
{% static 'base/static/carousel/'|add_str:item as image %}
  <div class="slider-item th-fullpage hero-area" style="background-image: url({{image}})">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">The beauty of nature <br> is hidden in details.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="{% url 'product-list'%}">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>

<section class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Product Category</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box">
					<a href="{% url 'perfumes'%}">
						<img src="{% static 'base/static/images/shop/category/category-perfume.webp'%}" alt="" />
						<div class="content">
							<b><h3>Perfumes</h3>
							<p style="color:black">Shop New Season Fragrances</p></b>
						</div>
					</a>	
				</div>
				<div class="category-box">
					<a href="{% url 'makeup'%}">
						<img src="{% static 'base/static/images/shop/category/category-new-1.webp'%}" alt="" />
						<div class="content">
							<h3>Makeup</h3>
							<b><p style="color:black">What Lady Deserves</p></b>
						</div>
					</a>	
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box category-box-2">
					<a href="{% url 'new-arrivals'%}">
						<img src="{% static 'base/static/images/shop/category/category-new-2.webp'%}" alt="" />
						<div class="content">
							<h3>New Arrivals</h3>
							<b><p style="color:black;">Special Design Comes First</p></b>
						</div>
					</a>	
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
