{% extends 'base.html' %}
{% load static %}
{% load display_image %}
{% block cart%}
<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <form method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">Name</th>
                      <th class="">Single Price</th>
                      <th class="">Ammount</th>
                      <th class="">Total Price</th>
                      <th class="">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
					{% for object in object.items.all %}
                    <tr class="">
                      <td class="">
                        <div class="product-info">
                          {% static 'base/static/catalog/sku/'|add_str:object.item.front_image|add_str:'.webp' as summary_image %}
                          <img width="80" src="{{summary_image}}" alt="" />
                          <a href="{% url 'product-detail' object.item.slug %}">{{object.item.name}}</a>
                        </div>
                      </td>
                      <td class="">{{object.item.price}}</td>
					  <td class="">
						<a href="{% url 'remove-item-from-cart' object.item.slug %}">&minus;</a>
						{{object.quantity}}
						<a href="{% url 'add-to-cart' object.item.slug %}">&plus;</a>
					</td>
						<td class="">{{object.get_sum_price}}</td>
                      <td class="">
                        <a class="product-remove" href="{% url 'remove-from-cart' object.item.slug %}">Remove</a>
                      </td>
                    </tr>
					{% endfor %}
                  </tbody>
				  
                </table>
					<h3>Total Price: {{object.get_total_price}} din</h3>
					<!-- TO DO: REMOVE CHECKOUT IF EMPTY CART-->
                {% if object.coupon %}
                <p class="pull-left">Active coupon: {{object.coupon.code}} -{{object.coupon.discount}} din</p>  
                {% endif %}
                <a href="{% url 'checkout'%}" class="btn btn-main pull-right ml-2">Checkout</a>
				        <a href="{% url 'product-list'%}" class="btn btn-main pull-right mr-2">Continue Shopping</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

