{% extends 'base.html'%}
{% load static%}
{% block orders %}


<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Orders</h1>
					<ol class="breadcrumb">
						<li><a href="{% url 'product-list' %}">Home</a></li>
						<li class="active">my account</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline dashboard-menu text-center">
          <li><a class="active" href="{% url 'orders'%}">Orders</a></li>
          <li><a href="{% url 'favorites' %}">Favorites</a></li>
          <li><a href="{% url 'profile'%}">Profile Details</a></li>
        </ul>
        <div class="dashboard-wrapper user-dashboard">
          <div class="table-responsive">
			{% if user.is_authenticated%}
            <table class="table">
              <thead>
                <tr>
                  <th>Order number/date</th>
                  <th>Price</th>
                  <th>Items</th>
                  <th>Status</th>
                </tr>
              </thead>
              {% comment %} <tbody>
                {% load display_image%}
				{% for item in favorites%}
        {% static 'base/static/catalog/sku/'|add_str:item.front_image|add_str:'.webp' as summary_image %}
                <tr>
                  <td><img width="80" src="{{summary_image}}" alt="" /><a href="{% url 'product-detail' item.slug %}">{{item.short_description}}  {{item.size}}</a>
                  </td>
                  <td style="vertical-align: inherit;">{{item.brand}}</td>
                  <td style="vertical-align: inherit;">
                    {{item.price}} din
                  </td>
                  <td style="vertical-align: inherit;">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default"><i class="tf-ion-android-cart" aria-hidden="true"></i></button>
                    </div>
                  </td>
                </tr>
				{% endfor %}
              </tbody> {% endcomment %}
              <tbody>
                {% for a in order_list%}
                <tr>
                    <td>
                        {{a.start_date}}
                    </td>
                    <td>
                        {{a.get_total_price}} din
                    </td>
                    <td>
                        {% for f in a.items.all%}
                        <ul>
                            <li>
                                {{f.item}}
                            </li>
                        </ul>
                        {% endfor %}
                    </td>
                    <td>
                        TODO: Add status here (processing, sent, completed etc)
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
			{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}