<style>
    .a{
        text-decoration: none;
    }
</style>
<table> 
    <tr> 
        <th>Item</th>
        <th>Quantity</th>
        <th>Sum</th>
    </tr>
    {% for a in object.items.all %}
    <tr> 
        <td>{{ a.item.name }}</td>
        <td><a href="{% url 'remove-item-from-cart' a.item.slug %}">-</a>
            {{ a.quantity }}
            <a href="{% url 'add-to-cart' a.item.slug %}">+</a>
        </td>
        <td>{{ a.get_sum_price }} din</td>
    </tr>
    {% endfor %}
    <tr>
        <td>
            Total {{object.get_total_price}}
        </td>
    </tr>
</table>

<br>
<br>
<br>
<a href="{% url 'checkout' %}">Checkout</a>