{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block product_details %}

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">

{% load ratings %}

<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="{% url 'product-list'%}">Home</a></li>
					<li><a href="{% url 'product-list' %}">Shop</a></li>
					<li class="active">{{object.name}}</li>
				</ol>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				{% load display_image %}
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
								{% for item in images %}
								{% static 'base/static/catalog/productimages/product/'|add_str:item as image_static %}
								{% if forloop.first %}
								<div class='item active'>
									<img src="{{image_static}}" alt='' data-zoom-image="{{image_static}}" />
								</div>
								{% else %}
								<div class='item'>
									<img src="{{image_static}}" alt='' data-zoom-image="{{image_static}}" />
								</div>
								{% endif %}
								{% endfor %}
							</div>
							<!-- sag sol -->
							<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
								<i class="tf-ion-ios-arrow-left"></i>
							</a>
							<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
								<i class="tf-ion-ios-arrow-right"></i>
							</a>
						</div>
						<!-- thumb -->
						<ol class='carousel-indicators mCustomScrollbar meartlab'>
							{% for item in images %}
							{% static 'base/static/catalog/productimages/product/'|add_str:item as image_static %}
							
							<li data-target='#carousel-custom' {% if forloop.first %} class='active' data-slide-to=0 {% else %} data-slide-to="{{forloop.counter|add:"-1"}} "{% endif %} >
								<img src="{{image_static}}" alt='' />
							</li>
							{% endfor %}
						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h4 class="pull-middle" >{% ratings object icon_height=30 icon_width=30%}</h4>
						<h2>{{object.name}}</h2> 
					<p>Size: {{object.size}}</p>
					<p class="product-price"><b>{{object.price}}</b> din</p>
					<p class="product-description mt-20">
						{{object.short_description}}
					</p>
					<div class="color-swatches">
						<ul>
							{% load item_sizes %}
							{% item_sizes as size %}
							{% for item in size %}
							{% static 'base/static/catalog/sku/'|add_str:item.front_image|add_str:'.webp' as small_image %}
							<li>
								<a href="{% url 'product-detail' item.slug %}"><div class="button-container">
									<button class="btn btn-md">
									  <img src="{{small_image}}" width="25" /><span
										style="margin-left: 10px;"
										>{{item.size}}</span
									  >
									</button>
								  </div></a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="product-size">
						{% if object.highlights.all %}
						{% perfume_highlights as pf %}
						<span>Highlights:</span>
						{% for hl in pf %}
						<ul>
							<li style="padding-right:10px">
								{% static 'base/static/catalog/highlights/'|add_str:hl|add_str:'.svg' as image %}
								<img src="{{image}}" width="50"> {{hl}}
							</li>
						</ul>
						{% endfor %}
						{% endif %}
					</div>
					<div class="product-quantity">
						<span>Quantity:</span>
						<div class="product-quantity-slider">
							<input id="product-quantity" type="text" value="0" name="product-quantity">
						</div>
					</div>
					{% if user.is_authenticated%}
					{% if object in request.user.userprofile.favorites.all %}
					<div class="product-category">
						<a href="{{object.get_remove_from_favorites_url}}" class="btn btn-main btn-small btn-round-full">Remove from Favorites</a>
					</div>
					{% else %}
					<div class="product-category">
						<a href="{{object.get_add_to_favorites_url}}" class="btn btn-main btn-small btn-round-full">Add to Favorites</a>
					</div>
					{% endif %}
					{% endif %}
					<a href="{{object.get_add_to_cart_url}}" class="btn btn-main mt-20">Add To Cart</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class=""><a data-toggle="tab" href="#details" aria-expanded="false">About the Product</a></li>
						<li class="active"><a data-toggle="tab" href="#reviews" aria-expanded="true">Reviews ({{total_comments}})</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade ">
							<p>{{ object.long_description|safe|linebreaksbr }}</p>
						</div>
						
						<div id="reviews" class="tab-pane fade active in">
							<div class="post-comments">
						    	<ul class="media-list comments-list m-bot-50 clearlist">
								    <!-- Comment Item start-->
									 {% for a in comments %}
								    <li class="media">
								        <div class="media-body">
								            <div class="comment-info">
								                <h4 class="comment-author">
								                    <a href="#!">{{a.author}}</a>
								                </h4>
								                <time datetime="2013-04-06T13:53">{{a.time}}</time>
								                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
								            </div>
											{% if a.author == request.user.userprofile %}
													<a href="{% url 'delete-comment' a.pk %}"><h6>Delete comment</h6></a>
													{% comment %} <a href="{% url 'update-comment' a.pk %}"><h6>Edit</h6></a> {% endcomment %}
													{% comment %} <a href="{% url 'a.update' a.pk %}"><h6>Delete comment</h6></a> {% endcomment %}
													<a href="{{a.edit_comment}}"><h6>Edit</h6></a>
													{% endif %}
								            <p>
								                {{a.text}}
								            </p>
								        </div>
								    </li>
									{% endfor %}
									<form method="post" action="">
										{% csrf_token %}
										{{form|crispy}}
										<input type="submit" name="submit_button" value="Update"class="btn btn-main btn-small btn-round">
									</form>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock%}