{% load item_sizes %}
<div class="widget product-category">
    <h4 class="widget-title">Categories</h4>
    <div class="panel-group commonAccordion" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    {% if "perfumes" in request.build_absolute_uri %}
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#perfumes" aria-expanded="true" aria-controls="perfumes">
                      {% else %}
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#perfumes" aria-expanded="false" aria-controls="perfumes">
                      {% endif %}
                      Perfumes
                    </a>
                  </h4>
            </div>
            {% if "perfumes" in request.build_absolute_uri %}
        <div id="perfumes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          {% else %}
          <div id="perfumes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          {% endif %}
            <div class="panel-body">
                <ul>
                    <li><a href="{% url 'perfumes'%}">All</a></li>
                    <li><a href="{% url 'male-perfumes'%}">For Him</a></li>
                    <li><a href="{% url 'female-perfumes'%}">For Her</a></li>
                    <li><a href="{% url 'new-perfumes'%}">New</a></li>
                    <li><a href="{% url 'top-perfumes'%}">Best Rated</a></li>
                    <hr>
                    {% all_brands_p as all_brands_p%}
                    {% for brand in all_brands_p %}
                    <li><a href="{% url 'perfumes-by-brand' brand.slug %}">{{brand}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            {% if "makeup" in request.build_absolute_uri %}
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#makeup" aria-expanded="true" aria-controls="makeup">
              {% else %}
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#makeup" aria-expanded="false" aria-controls="makeup">
              {% endif %}
                 Makeup
            </a>
          </h4>
        </div>
        {% if "makeup" in request.build_absolute_uri %}
        <div id="makeup" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
          {% else %}
          <div id="makeup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            {% endif %}
            <div class="panel-body">
                 <ul>
                    <li><a href="{% url 'makeup'%}">All</a></li>
                    <li><a href="{% url 'new-makeup'%}">New</a></li>
                    <li><a href="{% url 'top-makeup'%}">Best Rated</a></li>
                    <hr>
                    <li><a href="{% url 'face-makeup'%}">Face</a></li>
                    <li><a href="{% url 'eye-makeup'%}">Eye</a></li>
                    <li><a href="{% url 'lip-makeup'%}">Lip</a></li>
                    <hr>
                    {% all_brands_m as all_brands_m%}
                    {% for brand in all_brands_m %}
                    <li><a href="{% url 'makeup-by-brand' brand.slug %}">{{brand}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            {% if "skincare" in request.build_absolute_uri %}
            {% comment %} {% if request.path == "/skincare/"%} {% endcomment %}
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#skincare" aria-expanded="true" aria-controls="skincare">
              {% else %}
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#skincare" aria-expanded="false" aria-controls="skincare">
              {% endif %}
                  Skincare
            </a>
          </h4>
        </div>
        {% if "skincare" in request.build_absolute_uri %}
        <div id="skincare" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
          {% else %}
          <div id="skincare" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          {% endif %}
            <div class="panel-body">
                  <ul>
                    <li><a href="{% url 'skincare'%}">All</a></li>
                    <li><a href="{% url 'new-skincare'%}">New</a></li>
                    <li><a href="{% url 'top-skincare'%}">Best Rated</a></li>
                    <hr>
                    <li><a href="{% url 'moisturizers'%}">Moisturizers</a></li>
                    <li><a href="{% url 'lipbalm'%}">Lip Balms & Treatment</a></li>
                    <li><a href="{% url 'cleanser'%}">Cleanser</a></li>
                    <li><a href="{% url 'masks'%}">Masks</a></li>
                    <hr>
                    {% all_brands_s as all_brands_s%}
                    {% for brand in all_brands_s %}
                    <li><a href="{% url 'skincare-by-brand' brand.slug %}">{{brand}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
      </div>
    </div>
</div>