
<div class="widget">
    <h4 class="widget-title">Sort By</h4>
    <form method="post" action="#">
        <select class="form-control">
            <option>Man</option>
            <option>Women</option>
            <option>Accessories</option>
            <option>Shoes</option>
        </select>
    </form>
</div>
<div class="widget product-category">
    <h4 class="widget-title">Categories</h4>
    <div class="panel-group commonAccordion" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Perfumes
                    </a>
                  </h4>
            </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <ul>
                    <li><a href="{% url 'product-list'%}">All</a></li>
                    <li><a href="{% url 'male-perfumes'%}">For Him</a></li>
                    <li><a href="{% url 'female-perfumes'%}">For Her</a></li>
                    <li><a href="{% url 'new-products'%}">New</a></li>
                    <li><a href="{% url 'best-rated'%}">Best Rated</a></li>
                    <hr>
                    {% for brand in brands %}
                    <li><a href="{{brand.get_absolute_url}}">{{brand}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 Makeup
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                 <ul>
                    <li><a href="#!">All</a></li>
                    <li><a href="#!">New</a></li>
                    <li><a href="#!">Most Popular</a></li>
                    <hr>
                    <li><a href="#!">Face</a></li>
                    <li><a href="#!">Eye</a></li>
                    <li><a href="#!">Lip</a></li>
                    
                </ul>
            </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Skincare
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                  <ul>
                    <li><a href="#!">All</a></li>
                    <li><a href="#!">New</a></li>
                    <li><a href="#!">Most Popular</a></li>
                    <hr>
                    <li><a href="#!">Moisturizers</a></li>
                    <li><a href="#!">Cleanser</a></li>
                    <li><a href="#!">Masks</a></li>
                    <li><a href="#!">Sunscreen</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
    
</div>